/*################################*/
/*##### main layout elements #####*/
/*################################*/
body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 1056px;
    margin: 0 auto;
}

/* rows and columns */
.row {
}

[class|="col"] {
    float: left;
    background: black;
}

.col-3 {
    width: 300px;
    margin-right: 78px;
}

/* links */
a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
}

section h2 {
    font-size: 24px;
    border-bottom: 5px solid #3dbebe;
    margin-right: 750px;
}

/*########## header #########*/
/*##### header elements #####*/
/*###########################*/
header {
    background: #000;
    color: #fff;
}

header h1 {
    float: left;
    color: #fff;
    padding: 5px 0;        /* !! */
    padding-left: 25px;
}

h1 span {
    color: #0ff;
    font-weight: 800;
}

/*########### header ############*/
/*##### navigation elements #####*/
/*###############################*/
@keyframes dropdown {
    from {
        top: -170px;
        background: transparent;
        color: transparent;
        z-index: 0;
    }
    to {
        top: 45px;
        background: #000;
        color: #fff;
    }
}

nav {
    float: right;
}

.menu {
    text-align: center;
}

.menu>li {
    float:left;
    width: 125px;
    padding: 5px 0;    /* !! */
    font-weight: 700;

}

.submenu {
    position: absolute;
    display: none;
    line-height: 28px;
    width: 125px;
    top: 60px;
    padding: 10px;
    background-color: #000;
    /*border-radius: 5px; /* 0 - 10px */ */
}

/*triangle*/
.submenu::before {
    content:"";
    position: absolute;
    right: 36%;
    top: -30px;

    border-bottom: 15px solid #000;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}

/* transparent hover box */
.submenu::after {
    content:"";
    position: absolute;
    background: transparent;
    right:0;
    top: -45px;
    width: 125px;
    height: 50px;
}

li:hover > .submenu {
    display: block;
    animation: dropdown 0.15s;
}

/*########## ribbon ###########*/
/*##### Ribbon slide menu #####*/
/*#############################*/
.ribbon {
    height: 450px;

    /*gradient*/
    background: #CED6D6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFF, #CED6D6);
    background: -o-linear-gradient(#FFF, #CED6D6);
    background: linear-gradient(#FFF #CED6D6) /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */ /* Standard syntax */
}

.ribbon div:not([class*="container"]) {
    float: left;
}

#leftArrow, #rightArrow {
float: left;
width: 132px;
height: 450px;
padding-top: 225px;

color: #3dbebe;
font-size: 100px;
line-height: 0;

}

#leftArrow {
    text-align: left;
}

#rightArrow {
    text-align: right;
}

.ribbon article {
float: left;
}

#firstRibbonArticle .picture {
    background: url("../img/black_chair.png") no-repeat center;
    background-size: cover;
    float: left;
    width: 392px;
    height: 450px;
}

#firstRibbonArticle .artContent {
    width: 392px;
    height: 450px ;
    text-align: center;
}

#firstRibbonArticle .artContent h1 {
    width: 100%;
    margin-top: 75px;

    color: #000;
    font-size: 36px;
}

#firstRibbonArticle .artContent h1 span {
    font-weight: 800;
    color: #3dbebe;
}

#firstRibbonArticle .artContent h1 + p {
    margin-top: 30px;
    font-weight: 200;
}

#firstRibbonArticle .artContent a {
    display: block;
    width: 175px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    background: #3dbebe;
}

#firstRibbonArticle .artContent a:hover {

}

/*################ artbox ################*/
/*##### Highlighted articles section #####*/
/*########################################*/

section.artbox {
    padding: 50px;
}

.row {
    margin: 10px auto;
}

.col-3.artbox {
    position: relative;
    background: green ;
    height: 225px;
}

.col-3.artbox:last-child {
    margin-right: 0;
    height: 272.5px;
    border: 1px solid lightgray;

}

.col-3.artbox div {
    position: absolute;
    bottom: 25px;
    background: rgba(255, 255, 255, 0.5);
    width: 300px;
    padding: 25px;
}

.col-3.artbox div>h2 {
    display: block;
    margin-right: 100px;
    margin-bottom: 25px;
    border-bottom: 5px solid #3dbebe;
}

.col-3.artbox h2 {
    font-size: 16px;
    font-weight: 500;
}

.col-3.artbox div>p {
    padding: 0;
    line-height: 150%;
}

.col-3.artbox:last-child div {
}


#firstArtboxArticle {
    background: url("../img/box1_img.jpg");
}

#secondArtboxArticle {
    background: url("../img/box2_img.jpg");
}

#thirdArtboxArticle {
    background: url("");
}

/*##### PRICEBOX #####*/
/*##### PRICEBOX #####*/
/*####################*/

section.prices {
    background:#e7e7e7;
    padding: 20px;
}

.pricebox {
    position: relative;
    margin-top: 50px;
    height: 450px;
    background: #FFF;
    border: solid 2px lightgray;
}

.pricebox:last-child {
    margin-right: 0;
}

.circle {
    position: absolute;
    top: -37.5px;
    left: 112.5px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #FFF;
    border: solid 2px lightgray;
}

.dot {
    position: absolute;
    top: -20px;
    left:130px;
    /*left: 129.5px;*/
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: lightgray;
}

.pricebox>.artContent {
    margin-top: 47.5px;
}

.pricebox>.artContent h3 {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

.artContent>.circle {
    width: 100px;
    height: 100px;
    top:90px;
    left: 100px;
    border-radius: 50%;
    background: white;
    border: solid 2px #3dbebe;

    text-align: center;
    color:gray;
}

.artContent>.circle>h4 {
    margin-top:20px;
    font-size:32px;
    font-weight: 900;
    padding-right: 10px;
}

.artContent>.circle>h4>span {
    display:inline-block;
    font-size: 14px;
    position: absolute;
}

.artContent>.circle>p {
    margin-top:;
    font-size:14px;
}

.pricePlan {
    margin-top: 140px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    background: #f0f0f0;
    color: gray;
}

.pricePlan>p:nth-child(2n+1) {
    background: #e0e0e0;
    color: gray;
}

.pricebox a {
    display: block;
    position: absolute;
    background: #3dbebe;

    width: 150px;
    left: 70px;
    top: 350px;
    margin-top: 25px;
    text-align: center;
    padding: 10px;
}

/*#######################*/
/*##### CONTACT BOX #####*/
/*#######################*/

.left {
    float: left;
    font-size: 24px;
    width: 60%;
    height: 500px;
    padding: 25px;
    padding-left: 0;
}

.left div * {
    display: block;
    height: 50px;
    width: 100%;
    margin-bottom: 25px;
    padding-left: 10px;
}

.left textarea {
    resize: none;
    height: 325px;
    padding: 10px;
}

.right {
    float: right;
    width: 40%;
    height: 500px;
}

.right .picture {
    margin-top: 25px;
    width: 100%;
    height: 200px;
    background: url("../img/red_chair.png") no-repeat center;
    background-size: contain;
}

.right form * {
    margin: 25px 0;
}

.right .submit {
    margin-top: 25px;
}

.right [type="checkbox"] {
    margin: 0;
}

.right [type="submit"] {
    display: block;
    width: 100%;
    padding: 0 25px;
    height: 75px;
}

/*##################*/
/*##### FOOTER #####*/
/*##################*/
footer {
    color: gray;
    height:40px;
    line-height: 40px;
    margin-bottom: 20px;

}

.logoGray {
    float: right;
    text-align: right;
    width: 150px;
    word-spacing: 0.1rem;
}

.logoGray span {
    font-weight: bolder;
}

.copyright {
    width: 700px;
    float: left;
}

.link {
    float: left;
    background: center, no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
}

.flickr {
    background: url("../img/flickr.png") center no-repeat;
}

.vimeo {
    background: url("../img/vimeo.png") center no-repeat;
}

.pinterest {
    background: url("../img/pinterest.png") center no-repeat;
}

.twitter {
    background: url("../img/twitter.png") center no-repeat;
}
